<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API REST</title>
    <link rel="stylesheet" href="styles.css" />
</head>
<body>
<div class="container">
    <h1>MI API REST</h1>
    <h3>Seleccione una opción</h3>
    <div class="button-container">
        <a href="http://localhost:8080/verautores" class="button">Ver Autores</a>
        <a href="http://localhost:8080/verlibros" class="button">Ver Libros</a>
        <a href="http://localhost:8080/verusuarios" class="button">Ver Usuarios</a>
    </div>
    <div class="button-container">
        <a href="http://localhost:8080/altaautor" class="button">Alta Autor</a>
    </div>
</div>
</body>
</html>
